[2011-09-01 17:22] cnap opened #3 "multiple language models"
Does Joshua support multiple language models? It doesn't seem to, now, but it would be nice if you could include multiple LMs to be weighted by MERT.

[2011-09-01 17:24] cnap opened #4 "Quasi-synchronous grammar"
In the more long term, I think it would be worth looking into quasi-synchronous grammar support in the decoder.

[2011-09-09 12:13] mjpost opened #5 "Sparse feature representation"
Grammars should be able to include sparse (instead of fixed) feature vectors.

[2011-09-09 12:14] mjpost opened #6 "Grammar representation"
A more efficient grammar representation is needed.

[2011-12-11 19:18] ghost opened #13 "Derivations in the output break MERT"
Including derivations or alignments in the output breaks MERT.

[2012-01-09 21:35] ghost opened #14 "GIZA should support parallelization"
https://groups.google.com/forum/#!topic/joshua_support/bFXaCmHOPAg

[2012-01-26 02:31] #3 closed, assigned to mjpost

[2012-01-27 15:40] mjpost opened #19 "Thrax dies on blank lines"
Thrax should just skip them.  Also, the pipeline should remove blank lines from the training corpora.

[2012-02-09 15:36] mjpost opened #20 "Add grammar-level weights"
Per https://groups.google.com/d/topic/joshua_support/EuSyHa9KGRA/discussion ,

[2012-03-02 02:07] ghost opened #21 "ZMERT shouldn't have to stop and restart the decoder"
Loading the models is an expensive step, and there's no reason that MERT runs have to load them multiple times.  It should just load the decoder once and reuse the running decoder across iterations.  This could be accomplished with a special input command to Joshua that changes the model weights and resets the sentence counter.

[2012-03-02 03:01] ghost opened #22 "Parallelize MBR computation"
MBR should be multithreaded.  This would be easy to add following the model used in the InputManager.

[2012-07-05 13:08] lukeorland opened #42 "missing test directory in joshua-4.0 tarball"
The effect of this is the following error during the initial run of `ant test`

[code]

[2012-07-05 13:20] lukeorland opened #43 "lattice test fails"
currently, this is the output of an `ant test` run:

[code]

[2012-07-05 13:21] lukeorland opened #44 "giza++ build error"
After building most of GIZA++ succeeds, the following fails:

[code]

[2012-07-23 17:37] #20 closed, assigned to nobody

[2012-07-23 17:37] #6 closed, assigned to nobody

[2012-08-20 19:55] mjpost opened #51 "add jhclark/bigfatlm"
It would be nice to leverage more Hadoop tools in the pipeline.

[2012-08-20 20:07] #43 closed, assigned to nobody

[2012-11-02 22:30] lukeorland opened #64 "default output with new -output-format unspecified"
With the new devel `-output-format`, it looks like the nbest list is being output when I use an old configuration (pasted below). This is on a Mac laptop, freshly compiled commit `74ee78c`. ~~The funny thing is that I get the expected backwords-compatible output on a linux server with pretty much the same configuration.~~

Here's the output of the command:
$ echo "hola\nmi amigo" |  ./joshua-decod

[2012-11-02 22:40] #64 closed, assigned to nobody

[2012-11-05 20:35] #44 closed, assigned to nobody

[2012-11-05 20:36] #42 closed, assigned to nobody

[2012-11-05 20:39] lukeorland opened #66 "here's a regexp test"
I think a regexp-related commit might not have made it to my github repo until now. The commit is an additional regexp test from Kristy. So if it will help the regexp improvement currently under development, please merge/cherry-pick this commit:

https://github.com/lukeorland/joshua/commit/00e4f21868fd09ba6678f5f89d0bbcc778185d24

[2012-11-06 02:37] lukeorland opened #67 "skipping output for blank input lines"
This report is against commit 829e2e74dc2f4ae7ca7719b0ff5666cac9cd591d.

After starting the decoder server, this is the output for the following command

[code]

The expected output is

[code]

[2012-11-12 18:48] #66 closed, assigned to nobody

[2012-11-12 18:49] #67 closed, assigned to nobody

[2012-11-12 18:51] lukeorland opened #71 "OS X installation depends on coreutils to run thrax test"
the `gstat` command from coreutils is not installed in Darwin by default. One must resolve that dependency via Homebrew, Macports, etc.
The `test/thrax/test.sh` test will fail on an OS X system that does not have coreutils installed. We should either change the test so that it does not require coreutils in Darwin or make it clear in the (developer) installation/setup instructions that coreutils ar

[2012-11-16 03:19] #5 closed, assigned to nobody

[2012-11-16 03:20] mjpost opened #75 "MERT hangs with very large development sets"
From an email from Phu Le:

[2013-01-08 15:44] lukeorland opened #83 "pipeline test failing -- illegal option -- c"
test:
     [exec] Running test 'test-berkeleylm.sh' in ./bn-en/hiero...PASSED
     [exec] Running test 'test.sh' in ./bn-en/hiero...PASSED
     [exec] Running test 'test.sh' in ./bn-en/packed...PASSED
     [exec] Running test 'test.sh' in ./bn-en/samt...PASSED
     [exec] Running test 'test.sh' in ./decoder/constrained...PASSED
     [exec] Running test 'test.sh' in ./decoder/denormalization...PASS

[2013-06-03 00:09] mjpost opened #92 "Something is broken with multithreading"
Running with lots of threads (e.g., 16) does not peg the CPU at 1600%. In fact, it rarely seems to go over 1000%. Also, the running time as a function of the number of threads quickly stops decreasing, with about 4 threads being the saturation point. This is for a newstest de-en model built on Europarl + Common Crawl, using the hash-based grammar, with a bunch of language models:

![pastedgraphic-

[2013-06-04 00:34] #92 closed, assigned to nobody

[2013-06-04 02:54] #83 closed, assigned to mjpost

[2013-06-04 19:57] mjpost opened #93 "Clean up examples"

[2013-06-04 20:00] mjpost opened #94 "Documentation for every new feature"

[2013-06-04 20:17] mjpost opened #95 "Vocabulary locking"
Vocabulary::id() is still synchronized and a potential point of contention. It would be nice to resolve this.

[2013-06-04 20:18] mjpost opened #96 "DPState interface should compute integer hashes instead of string ones"

[2013-06-04 20:52] lukeorland opened #97 "merge devel into master when it's nice and stable (5.0 release?)"

[2013-06-04 21:03] mjpost opened #98 "Implement collapsing of LM-equivalent states"
Comparisons with Moses and cdec show that this makes a difference in search.

[2013-06-05 02:41] mjpost opened #100 "Add Shen et al. (2008) dependency LM"

[2013-06-05 13:56] #96 closed, assigned to jweese

[2013-06-05 19:09] lukeorland opened #101 "compile kenlm during default ant target"

[2013-06-05 19:58] mjpost opened #104 "Glue grammar creation in pipeline is broken"
It currently operates under the assumption that a glue grammar can't be created from a packed grammar, which is no longer true.

[2013-06-05 21:27] #104 closed, assigned to mjpost

[2013-06-05 21:28] #101 closed, assigned to nobody

[2013-06-08 00:30] noisychannel opened #105 "Packed grammar does not get recreated when a new grammar.gz file is provided"
When the pipeline is resumed from the TUNE stage, and a new grammar file is provided (following a complete run with an invalid/incomplete grammar), the packed grammar file does not get recreated in the tune and the test directories within $RUNDIR/data. They are detected as cached.

Steps to recreate :
1. Complete a pipeline run with an invalid grammar file (make sure you get past the TEST stage).

[2013-06-10 02:28] fmof opened #106 "escape brackets (& parens?)"
Joshua doesn't properly escape brackets (and possibly parens). I ran into this while trying to true-case some English text. This was on test4. Running with v5.0-rc3, the <tt>JOSHUA</tt> environment variable set:

<pre>
$ ./run-joshua.sh -server-port 5995 -threads 1
#assume $FILE is set to a local file
#grab the first "real" line of it
$ head -n3 $FILE | tail -n1 | nc test4 5995
Translating sentenc

[2013-06-10 03:32] mjpost opened #107 "Verbosity levels"
Joshua should support verbosity levels with a command-line switch, so it's easy to shut it up with something like `-v 0` or `-q`.

[2013-06-18 18:40] jganitkevitch opened #108 "Add option to print chart cell counts post-decoding"
Add a debug output with number of items per chart cell, like Moses, for neat debugging information.

[2013-06-21 21:30] jganitkevitch opened #109 "Close file handles after loading packed grammar"
Packed grammars don't release file handles after loading is completed.

[2013-06-22 23:38] mjpost opened #110 "Generalize ff computation"
ComputeFeatures an computeScore could just take in an accumulator and then be one function.

(Due to Kenneth.)

[2013-06-24 19:48] jganitkevitch opened #111 "Move to string-less feature vectors"
Drop silly feature string construction & re-parsing in packed grammars. Could consider moving to faster primitive int-to-float maps for feature vector.

[2013-06-25 15:55] #109 closed, assigned to jganitkevitch

[2013-06-28 13:41] mjpost opened #113 "Add KenLM estimation code to the --lm-gen options"

[2013-07-01 17:51] #113 closed, assigned to mjpost

[2013-07-01 18:23] mjpost opened #115 "Thrax compilation shouldn't require AWS"
Thrax compilation currently requires $AWS_SDK and $AWS_VERSION to be set. It shouldn't need those!

[2013-07-01 18:38] #97 closed, assigned to mjpost

[2013-07-15 18:42] mjpost opened #116 ""ant thrax" doesn't build Thrax"
It complains about a bunch of errors. This workaround works suggesting it should be easy to fix:

[code]

[2013-07-15 20:10] #110 closed, assigned to mjpost

[2013-07-15 20:10] #98 closed, assigned to nobody

[2013-07-16 04:49] #116 closed, assigned to nobody

[2013-07-16 04:59] mjpost opened #117 "Add lmplz to pipeline"

[2013-07-17 21:12] mjpost opened #118 "Extracting the 1-best hypothesis should be possible without recomputing features"
Currently, extracting even the 1-best hypothesis also computes the features associated with it, which triggers a recomputation of all the features along all edges of the Viterbi derivation. But if you just want the best hypothesis or model scores, and not the feature breakdown, you shouldn't have to recompute all of these (which takes a little bit of time). It should be possible to do this (and it

[2013-07-18 01:26] #118 closed, assigned to mjpost

[2013-07-18 01:53] mjpost opened #119 "Don't recompute features for functions with only a single feature value"
Currently, k-best extraction recomputes all feature values for every (reached) hyperedge since we store only the dot product during decoding. This is really time consuming. However, for feature functions that contribute only a single feature, we already have the value and need not recompute it. This has the advantage of working for the most expensive feature function, the LM, but would also probab

[2013-07-18 02:13] mjpost opened #120 "Pipeline should use left-state minimization by default"

[2013-07-19 15:29] mjpost opened #121 "Problems with the grammar packer slice size heuristic"
When packing an unfiltered Europarl Hiero grammar (~ 8 GB), the packer failed with the following error:

[code]

[2013-07-19 15:58] mjpost opened #122 "Set weights from command line"
It would be convenient to be able to set the weights from the command line.

[2013-07-19 15:59] mjpost opened #123 "BLEU scorer parity with Moses"
Our BLEU scorer returns different results from the standard Moses one. Find out if this is a bug or different assumptions.

[2013-07-19 16:00] mjpost opened #124 "Import MIRA"
Import kbMIRA to remove runtime dependence on Moses.

[2013-07-19 16:01] mjpost opened #125 "Use copy-config.pl"
The pipeline should use copy-config instead of its vast and growing template system (which can introduce errors when pulling in outside config files).

[2013-07-22 19:55] #120 closed, assigned to mjpost

[2013-07-22 19:59] #117 closed, assigned to mjpost

[2013-07-26 00:13] jimmec opened #127 "pipeline.pl: test-decode-$run step should have dependency on input test set."
When a bad input test set causes Joshua Decoder to crash (in my case, a 189,000 line caused an out of memory exception https://groups.google.com/forum/#!topic/joshua_support/-2PykKqbnU4)  the pipeline script does not die as it should, which means one must manually terminate that step.

This results in the incomplete test.output.nbest to be cached in cachepipe. And a few subsequent steps(including

[2013-07-26 01:45] mjpost opened #128 "Lattice issues"
Joshua truncates sentences to 200 tokens, but turns them into a lattice first and computes the shortest path between all pairs. This causes huge problems for buggy input (e.g., https://groups.google.com/forum/#!topic/joshua_support/-2PykKqbnU4 ). A couple things that should change:
- Don't apply an O(n^2) algorithm to buggy input. Maybe only call calculateAllPairsShortestPaths() lazily.
- Compute

[2013-07-26 02:02] mjpost opened #129 "Constrained decoding heuristics aren't quite right"
To implement constrained decoding, we make sure that the LM state of each proposed node matches the input sentence. This is necessary but insufficient. See the test case in test/decoder/constrained, where some constrained sentences have multiple outputs not all equal to the constraints.

[2013-08-15 13:36] #127 closed, assigned to mjpost

[2013-08-15 13:37] #121 closed, assigned to jganitkevitch

[2013-08-16 14:36] #94 closed, assigned to nobody

[2013-08-27 14:36] mjpost opened #130 "Input maxlen = 0 doesn't work"
A maxlen = 0 line should mean "no limit", but it's not interpreted that way.

Also, maxlen should be disabled for lattices, or those routines should be generalized to lattices.

[2013-08-28 18:16] xuchen opened #131 "can't change tmp folder for Hadoop"
the pipeline doc says:

Hadoop uses a lot (use --tmp /path/to/tmp to specify an alternate place for temporary data; we suggest you use a local disk partition with tens or hundreds of gigabytes free

However, passing "--tmp" doesn't change Hadoop's default tmp folder, nor does changing the "hadoop.tmp.dir" option in  joshua-v5.0/scripts/training/templates/hadoop/core-site.xml

I used joshua v5.0 on

[2013-09-15 22:38] noisychannel opened #135 "pipeline.pl does not die gracefully"
When a component of the pipeline crashes (in my case, decoding lattices), the pipeline.pl script and some java processes do not die gracefully and need to be killed manually.

[2013-09-16 01:56] noisychannel opened #136 "Documentation fix"
On the tutorial page : (http://joshua-decoder.org/5.0/tutorial.html), under the section "A Second Run", within the runcmd, --no-build-lm should actually be --no-corpus-lm

[2013-09-16 07:22] #136 closed, assigned to nobody

[2013-09-18 07:29] noisychannel opened #137 "Lattice weights in exponential form"
A minor issue although one that should be put in the documentation or fixed in code.

Lattice weights of the form -1.56462193e-07 are not parsed (by the REGEX : "\s_\('(.+?)',\s_(-?\d+\.?\d_?),\s_(\d+)\),\s_(._)") and throw a Parse error (Line 176, Lattice.java). These are extremely unlikely values and mostly occur due to precision problems when using pushed weights especially when a state has onl

[2013-09-25 19:26] #130 closed, assigned to mjpost

[2013-09-25 20:15] #137 closed, assigned to nobody

[2013-09-28 05:33] se4u opened #141 "Missing output.gold file from joshua/test/decoder/rescoring"
There is no output.gold file in joshua/test/decoder/rescoring which causes the test to fail.

[2013-09-30 15:22] #141 closed, assigned to nobody

[2013-10-03 18:21] mjpost opened #142 "Packed grammars need a private vocabulary"
Currently, only one packed grammar is permitted per decoder instance, because it makes its private, predetermined vocabulary the global one. Packed grammars should instead keep their vocab private and map between the global vocabulary, so that (a) we don't have to worry about seeding the global vocab with the packed one at load time and (b) we can have more than one at a time.

[2013-10-10 19:11] #119 closed, assigned to mjpost

[2013-10-10 19:14] mjpost opened #145 "Add truecasing"
Joshua currently lowercases all data; a better approach is truecasing, where the most frequent capitalization pattern is used for each token.

[2013-10-11 23:45] afader opened #148 "Process Substitution Error in run-giza.pl?"
This line creates a command to run and stores the value in `$__ALIGNMENT_CMD`:
https://github.com/joshua-decoder/joshua/blob/master/scripts/training/run-giza.pl#L232

Then the variable is passed as a command line option in this line:
https://github.com/joshua-decoder/joshua/blob/master/scripts/training/run-giza.pl#L265

This breaks on my system (x86_64 linux running bash as a shell). I modified th

[2013-10-15 18:54] mjpost opened #150 "Add TER"
http://www.cs.umd.edu/~snover/tercom/

[2013-10-18 08:43] noisychannel opened #151 "Merge-LM looking for the wrong file to interpolate weights"
Within the pipeline.pl script, when merging LMs : https://github.com/joshua-decoder/joshua/blob/master/scripts/training/pipeline.pl#L1125

The script looks for $TUNE{target} which is of the form tune.tok.lc.lang. However, when you have multiple tune files of the form tune.tok.lc.lang.0, tune.tok.lc.lang.1 ..., the script crashes with

ERROR: The dev text 'tune.tok.lc.en' was not found.

I was able

[2013-10-21 16:52] bibekiit opened #152 "Solved the problem of thrax exception occuring due to no space left problem."
I can suggest this way to change the directory: Assuming you want it to write to directory YOUR_BASE_DIR in a partition with sufficient memory.
Create/edit this configuration xml file in your working directory:

Change ./working/hadoop-0.20.2/conf/mapred-site.xml

<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
    <property>
        <name>hadoop.

[2013-10-23 20:53] bethard opened #153 "CachePipe.pm uses sha1sum which doesn't exist on OS X"
CachePipe.pm uses sha1sum in various places, but that command isn't present on a vanilla OS X. However, shasum (without the 1, but which defaults to the same algorithm) does exist on OS X. Here's the patch that I needed to get pipeline.pl to run:

[code]

I don't know if shasum exists by default on your other platforms, so perhaps you'll need to wrap this with an appropriate guard.

[2013-10-23 21:03] bethard opened #154 "message about using `--lm-gen berkeleylm` is incomplete"
If you run `examples/pipeline/run.sh` on OS X, you'll get the following error and message:

[code]

I believe the message about `--lm-gen` is incomplete. At least, when I added just `--lm-gen berkeleylm` to the `run.sh` script, I just got the following error:

[code]

I had to add `--lm berkeleylm` in addition to `--lm-gen berkeleylm` to get that script to run to completion.

[2013-11-21 18:16] mjpost opened #156 "Problems compiling lmplz"
Building KenLM's lmplz often fails with messages about failing to link to boost's program options:

[code]

[2014-05-02 17:19] mjpost opened #163 "Run bundler problems"
The run bundler creates an entry for the weights-file which is no longer used. It also tries to call $JOSHUA/joshua-decoder, which doesn't exist (it has been moved to $JOSHUA/bin).

[2014-05-02 17:19] #163 closed, assigned to nobody

[2014-10-16 13:38] mjpost opened #169 "LanguageModelFF should compute partial n-grams"
Incomplete n-grams have no estimate, which creates a problem when comparing small phrases (early in decoding) and for short sentences. To fix this, the LanguageModelFF should compute partial n-gram scores, caching the result and the n-gram length in the DP state so that it can be subtracted off later.

Another advantage of this is that it would likely allow a large simplification of the FeatureFun

[2014-10-16 13:39] mjpost opened #170 "Modify pipeline.pl to call out to Moses EMS"

[2014-10-16 13:39] mjpost opened #171 "Add a phrase-based decoder"

[2014-10-22 02:01] mjpost opened #172 "Speed up grammar file reading with memory-mapped files"
[This document](http://nadeausoftware.com/articles/2008/02/java_tip_how_read_files_quickly) should be helpful.

[2014-10-22 02:45] #171 closed, assigned to mjpost

[2014-10-22 02:51] mjpost opened #173 "Add constrained phrase-based decoding"

[2014-10-22 02:51] mjpost opened #174 "Add lattice phrase decoding"

[2014-10-24 01:11] #173 closed, assigned to mjpost

[2014-12-02 19:52] #156 closed, assigned to mjpost

[2014-12-20 00:48] mjpost opened #175 "k-best extraction"
...is slow, even for extracting the 1-best (often slower than decoding). When only the output string is required, k-best extraction should be replaced with a simple Viterbi walk

[2014-12-20 03:01] mjpost opened #176 "Packing phrase tables"
The packer can pack Moses phrase tables, but the decoder can't use them.

[2014-12-20 03:27] #176 closed, assigned to nobody

[2015-02-17 20:55] keisks opened #181 "a sample feature function"
This is NOT urgent, but it may be great to have a sample feature function so that people can easily create their own feature functions.

[2015-02-21 02:47] mjpost opened #182 "StateMinimizingLanguageModel only supports KenLM"
From an email:

The pipeline and Joshua should throw an error if the user tries to use another LM backend.

[2015-02-21 02:48] mjpost opened #183 "Bug in grammar filtering"
From a user:

This is correct, this variable should be set. More generally, the way variables are set and used is confusing (would be useful to have a mnemonic for original values, command-line set, etc)

[2015-02-21 02:49] mjpost opened #184 "BerkeleyLM should check for file type"
From a user:

This is an easy fix — BerkeleyLM should try to open as a GZipStream and try as a regular file if the appropriate error is thrown.

[2015-02-21 03:28] #184 closed

[2015-02-22 19:09] fhieber opened #185 "Grammar packer / Decoder unable to parse 'german' feature values"
I was having trouble running the pipeline script end-to-end on my Macbook (German regional settings). It seems that Thrax is serializing feature values of rules using the number format as given by the JDK, i.e. the system locale (in my case DE). However, later steps such as grammar filtering or decoding fail when loading such grammars, since they cannot parse 'German' float formats: 1,2 instead of

[2015-02-23 08:23] fhieber opened #186 "KBestExtractor.getKthHyp(node,k) is called twice for topN=1"
Hi,

not sure if this is a bug or if I am not aware of some parts of the algorithm that handle internal state, but the for-loop in line 223 (https://github.com/joshua-decoder/joshua/blob/master/src/joshua/decoder/hypergraph/KBestExtractor.java#L223) seems incorrect to me: if `topN` is set to 1, `getKthHyp()` is executed twice. The result of the second execution is discarded due to breaking out of

[2015-02-23 13:55] mjpost commented on #185
Thanks for reporting this! @jganitkevitch and @jweese, do you have any notion of how involved of a fix this is?

[2015-02-23 14:06] mjpost commented on #186
Yes, it looks like the logic here should be changed.

As for the related question: Joshua does not store feature values during decoding, but only dot products. This makes things more efficient, because each edge in the hypergraph only has to store a scalar instead of a large sparse `FeatureVector` object. After the hypergraph is built, the actual feature values can be recovered, if desired, by rep

[2015-02-23 14:22] #186 closed

[2015-02-23 15:43] #175 closed

[2015-02-23 16:15] fhieber commented on #186
This is great, thanks for the change!
Just for the sake of completeness: output format '%S', i.e. a de-normalized hypothesis, would also be applicable to the Viterbi hypothesis, right?

[2015-02-23 16:29] jganitkevitch commented on #185
I'll look into it.

On Mon Feb 23 2015 at 8:55:43 AM Matt Post <notifications@github.com> wrote:

[2015-02-23 17:27] mjpost commented on #186
Yes, it would, though it wasn't added (on account of laziness) until the commit I just pushed.

[2015-02-23 17:46] mjpost commented on #170
This is already done for building phrase tables, and is part of another idea that's too large for a single issue. Closing for now.

[2015-02-23 17:46] #170 closed

[2015-02-23 18:02] #182 closed

[2015-02-25 18:59] keisks opened #187 "Decoder fails if"feature-function = Distortion" option is used"
The following error occurred when Distortion function (in src/joshua/decoder/ff/phrase/Distortion.java) is used.

    java.lang.NullPointerException
        at joshua.decoder.ff.phrase.Distortion.compute(Distortion.java:28)
        at joshua.decoder.chart_parser.ComputeNodeResult.<init>(ComputeNodeResult.java:88)
        at joshua.decoder.chart_parser.Chart.completeSpan(Chart.java:238)
        at

[2015-02-25 21:02] mjpost commented on #187
Are you doing syntax-based decoding? I suspect you are, so this phrase-exclusive feature is causing a problem that should be checked for.

[2015-02-25 22:03] #187 closed

[2015-03-06 04:17] mjpost commented on #185
Any luck?

[2015-03-06 23:21] jganitkevitch commented on #185
I can't reproduce the behavior (with Terminal locale set to de_DE.UTF-8 it
still writes English-format numbers), but I do have what I think is a fix,
which is just forcing the value writing to be done with en_US.

How you want to do this? My Thrax branch (as usual) has a ton of other
stuff in it that's mostly pertaining to paraphrases, tools, and signature
extraction. It's probably worth pulling (

[2015-03-09 02:58] mjpost commented on #185
Can you add this patch as a hotfix off master, then merge master into your branch?

[2015-03-12 00:05] #183 closed

[2015-03-12 00:12] mjpost commented on #181
See the developer documentation at http://joshua-decoder.org/devel/ (particularly the sparse feature docs) for a start.

[2015-03-13 00:58] lewismc opened #188 "Implement descriptions for all Ant tasks"
This issue should produce the following when one invokes *ant -projecthelp*
[code]

[2015-03-13 13:03] mjpost commented on #188
Closed with commit 0a2a17b288734a2e32c3e7d4b5bd26b23d23c4d9.

[2015-03-13 13:03] #188 closed

[2015-03-13 13:58] lewismc commented on #188
Thanks Matt

On Friday, March 13, 2015, Matt Post <notifications@github.com> wrote:

--
*Lewis*

[2015-03-13 14:31] mjpost opened #190 "Fix ivy"
Ivy should not have to check all its downloads every time.

Also, ivy shouldn't fail if there is no internet connection. This prevents builds!

Would like ivy to download the first time, and then know it's done so, not running any more for later runs (and not killing builds when there is no internet connection).

[2015-03-24 18:51] mjpost opened #191 "kbmira no longer works"
The forest kbmira included with Moses 3.0 requires the dense features to be explicitly passed in, and Joshua's pipeline script needs to be updated to support this.

[2015-03-30 20:37] #191 closed

[2015-04-29 12:21] lukeorland commented on #190
This may be just a matter of updating Ivy to version 2.0+. I see a new option:

http://ant.apache.org/ivy/history/2.3.0/use/resolve.html

[2015-05-07 13:19] tpanningnextcen opened #193 "Certain strings cause the decoder server to shutdown with an exception"
While translating a bunch of strings, I ran into a couple character combinations that cause the decoder server to crash. If these are reserved sequences or command sequences, can there be a documentation page that lists them? Also, can the server be modified so that it doesn't shutdown on an exception?

Open and/or close square brackets: for example, the string "[]" will generate the following out

[2015-05-07 13:57] mjpost commented on #193
Yes, both of these sequences are special markers. Three leading parens is used to denote lattice input, and square brackets mark nonterminals.

Are you using a prepackaged model / language pack? There is a script prepare.sh that will escape these characters prior to passing them to Joshua.

[2015-05-07 14:13] tpanningnextcen commented on #193
I'm using the Arabic language pack, and connecting to the server that opens on port 5674. Unfortunately, both of these character sequences (and the triple pipe (|||)) appear in my source documents... apparently people say the darnedest things on Twitter.

The most troublesome part is that the server shuts down with these inputs. If it could catch the exception and just return the provided string (

[2015-05-07 16:44] mjpost commented on #193
Sure, I understand. I agree that it should not shut down on an error like this and will get to that.

If you run your input through the prepare.sh script before sending it to the server (I believe this is described in the README), however, it will solve this problem for you, without affecting the translations at all.

[2015-05-07 18:11] tpanningnextcen commented on #193
I didn't notice that the README in the distribution is different from the README on the github site. Now I see how to run it, thanks.

[2015-05-07 22:11] fhieber opened #194 "Unable to load a gzipped binarized BerkeleyLM"
It seems like there is a bug in determining whether a BerkeleyLM is in binary format (result of 'edu.berkeley.nlp.lm.io.MakeLmBinaryFromArpa' with output file specified as lm.binary.gz).

If joshua is supplied with a config containing

it attempts to use the ARPA loader:

java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.r

[2015-05-10 19:12] lewismc opened #195 "Homebrew formulae for Joshua"
I said a while back I would work on a Homebrew package for Joshua. This ticket is an attempt to honor that so I will make an effort to hack this one out.

[2015-05-11 02:54] mjpost commented on #195
Sounds great!

[2015-05-11 02:55] lewismc commented on #195
Began working this afternoon. Will hopefully finish tomorrow Matt. Will
update here ASAP.

On Sunday, May 10, 2015, Matt Post <notifications@github.com> wrote:

--
*Lewis*

[2015-05-11 23:21] lewismc opened #196 "Update README and Improve Formatting"
This is a trivial task but one which is important for the to-be-committed Homebrew merge further upstream.

[2015-05-12 01:32] mjpost commented on #196
Looks good, I'll take pull requests if you'd like

[2015-05-12 02:03] mjpost commented on #194
This is actually the intended functionality, the assumption being that there isn't much purpose in compressing the binarized format. Why are you compressing the binarized format? What compression ratio are you getting? If you're getting a good compression ratio then we could perhaps reconsider this logic.

[2015-05-12 02:20] mjpost commented on #196
Or let me know when you're done, and I can pull directly.

[2015-05-12 10:09] fhieber commented on #194
Oh ok. I was assuming support of gzipped binaries because the BerkeleyLM code simply does it when the binary output filename ends with '.gz'.
And it also seems that compressing a binary lm does save some disk space:

13G text.arpa
4.3G text.binary
3.0G text.binary.gz

where text.binary is the unzipped version of text.binary.gz.

[2015-05-12 12:21] lukeorland commented on #190
@mjpost Please give the `ivy-less-downloads` branch a try from my `git@github.com:lukeorland/joshua.git` repo. I'll try it out on a vagrant box without internet.

[2015-05-12 12:33] mjpost commented on #190
I tried it and I think it looks good, pulling in.

[2015-05-12 12:33] #190 closed

[2015-05-12 14:50] mjpost commented on #193
Hi — what github README are you referring to?

[2015-05-12 14:56] lewismc commented on #196
Thanks @mjpost

[2015-05-12 14:56] #196 closed

[2015-05-13 15:24] tpanningnextcen commented on #193
The one that is shown when you go to the main page for this repository: https://github.com/joshua-decoder/joshua (which is also the page linked to from the joshua-decoder.org site). That page doesn't mention the prepare.sh script.

[2015-05-14 13:41] mjpost commented on #193
Okay, I see. Yes, only the language-pack specific READMEs discuss how to use the language packs. Sorry for the confusion.

[2015-05-14 13:41] mjpost commented on #193
Can you confirm that running your data through the `prepare.sh` script solves your problems?

[2015-05-15 13:27] mjpost commented on #194
All right, it seems reasonable to support this. If you want to take a stab at it, it should be pretty easy — just try to open the compiled format, and if that fails, try it as ARPA. I will keep this on my list of things to do but may not get to it for a while.

[2015-05-19 19:32] fhieber commented on #194
Cool, thanks! I will give it a try tomorrow and send you a pull request once done.

[2015-05-27 13:59] mjpost opened #200 "Ivy broken"
When I clone a fresh copy of Joshua and type "ant", I get the following ivy-related errors. @lukeorland, can you look into this ASAP?

    $ git clone git@github.com:joshua-decoder/joshua joshua2
    $ cd joshua2
    $ export JOSHUA=$(pwd)
    $ ant
    Buildfile: /Users/post/code/joshua2/build.xml
      [taskdef] Could not load definitions from resource org/doxygen/tools/antlib.xml. It could not

[2015-05-27 14:07] lukeorland commented on #200
Yes, I'll fix that tonight.
On Wed, May 27, 2015 at 10:01 AM Matt Post <notifications@github.com> wrote:

[2015-05-27 14:08] mjpost commented on #200
Is there a quick-fix or workaround I can use in the meantime, or will this require you to dig into it? (Trying to run a tutorial)

[2015-05-27 14:09] lukeorland commented on #200
Maybe copy the lib dir from another pre-existing clone of Joshua
On Wed, May 27, 2015 at 10:08 AM Matt Post <notifications@github.com> wrote:

[2015-05-27 14:11] lukeorland commented on #200
Or temporarily revert the merge commit that changed ivy settings.xml
On Wed, May 27, 2015 at 10:09 AM Luke Orland <orluke@gmail.com> wrote:

[2015-05-27 15:13] mjpost commented on #200
The libdir copy worked, thanks

[2015-05-28 10:41] #200 closed

[2015-05-28 12:48] mjpost commented on #200
What would it take to switch from using ivy to maven?

[2015-05-28 15:04] lukeorland commented on #200
Looks like it would involve rewriting the ant builds in maven as well: http://stackoverflow.com/a/15562294

[2015-05-30 02:22] mjpost commented on #194
This was fixed with when 94c01a1028919be297ebaf797d456b8b3cf3980d was merged in.

[2015-05-30 02:22] #194 closed

[2015-05-30 02:26] mjpost commented on #154
The build system has been changed a bit including fixes for compiling KenLM utils on OS X. I'm going to mark this as fixed in Joshua 6, unless you find that it still exists, in which case I'll take a closer look this time with an eye towards fixing it.

[2015-05-30 02:26] #154 closed

[2015-05-30 02:30] #151 closed

[2015-05-30 02:31] mjpost commented on #125
This was fixed with commit 097474f960fcfc48a971b9512f39b8b9e47f9806

[2015-05-30 02:31] #125 closed

[2015-05-30 02:33] mjpost commented on #122
This is available in Joshua 6 with either `--weight-overwrite` (for Moses compatibility).

[2015-05-30 02:33] #122 closed

[2015-05-30 02:46] mjpost commented on #131
With pre-existing Hadoop installations, changing this is beyond the reach of the pipeline.

Hadoop will now be unpacked to `$TMPDIR` with Joshua 6.0.3.

[2015-05-30 02:46] #131 closed

[2015-05-31 03:26] #193 closed

[2015-05-31 16:07] #181 closed

[2015-06-11 19:03] mjpost commented on #124
This was fixed in commit 692b68417f62ab146241f8a4643791c3623f94a5, when importing Yuan Cao's local mira implementation.

[2015-06-11 19:03] #124 closed

[2015-06-13 20:09] mjpost commented on #106
This should be fixed as of commit dee842dc8617ada9a7479311fb716d24120bfefc

[2015-06-13 20:09] #106 closed

[2015-06-17 18:41] chrismattmann opened #204 "Any interest in bringing the project to Apache?"
Hi @mjpost and others of the Joshua community. Is there any interest in the project coming to the Apache Software Foundation? I brought this up offlist to Matt and there was some interest, but I never followed up so thought I would do so publicly and transparently here.

Apache has a guide for new projects:
http://incubator.apache.org/guides/proposal.html

I would be very happy to champion this pr

[2015-06-19 14:50] chrismattmann opened #206 "Contributors page doesn't include people who have Github contributions"
I and some others (e.g., Lewis John McGibbney) have made some Github contributions to Joshua but aren't listed on the contributors page:

http://joshua-decoder.org/contributors.html

Is this page managed in Git? Can I submit a pull request to update it?

[2015-06-19 14:50] chrismattmann commented on #206
cc @lewismc

[2015-06-19 14:51] chrismattmann commented on #195
@lewismc do you have something I can work from here?

[2015-06-19 14:52] lewismc commented on #195
Yep I do, the PR is not for Joshua it is for home brew
I'll send what I have shortly...

On Friday, June 19, 2015, Chris Mattmann <notifications@github.com> wrote:

--
*Lewis*

[2015-06-19 14:53] lewismc commented on #206
Bewm

On Friday, June 19, 2015, Chris Mattmann <notifications@github.com> wrote:

--
*Lewis*

[2015-06-19 14:53] mjpost commented on #206
It is, but I'll just fix it (unless you prefer a PR!)

https://github.com/joshua-decoder/joshua-decoder.github.com

[2015-06-19 15:00] mjpost commented on #204
Hi @chrismattmann — I think it would be hard to break away from JHU at this point, but I wouldn't say that it's an impossibility. The costs seem clear to me (loss of control); can you help us understand the benefits (and perhaps present a more complete pictures of the costs as well)?

CC: @callison-burch

[2015-06-19 16:00] chrismattmann commented on #195
cool, thanks.

[2015-06-19 16:01] chrismattmann commented on #206
thanks @mjpost I'll at least add @lewismc and me, and maybe you can take from there? Thx.

[2015-06-19 16:06] chrismattmann commented on #204
no problem at all @mjpost . The reality is you wouldn't really lose control - take a look at the Apache ICLA (you license your contributions to the ASF). However, if you scope out the ASF project management committee, the ASF is really a home for independent, separately managed PMCs.

PMCs are autonomous entities that share a belief in open source that we call the "Apache Way". these are  loose se

[2015-06-19 16:06] chrismattmann commented on #204
cc @lewismc

[2015-06-19 20:03] lewismc commented on #204
I am very interested in this folks.

On Friday, June 19, 2015, Chris Mattmann <notifications@github.com> wrote:

--
*Lewis*

[2015-06-19 20:28] callison-burch commented on #204
This sounds good to me too.

[2015-06-20 15:36] lewismc commented on #204
@mjpost in addition to @chrismattmann comment, you mentioned costs.
In terms of financial aspect of infrastructure...  WebSite, CI, CMS, SCM, Mailing Lists, etc. well that is all facilitated by the foundation.
Another advantage of joining TheASF is that Joshua would most likely have more cross community collaboration with other machine learning folks over in [Apache Mahout](http://mahout.apache.or

[2015-06-20 15:38] lewismc commented on #204
BTW,
bq. Oh by the way, did I also mention a small insignificant project called Apache Tika? ;)
This is a joke, we would love to have better integration with Joshua over in Apache Tika. Tika is a very well used library and an excellent, dynamic, bustling community. Joshua would certainly benefit from better engagement.

[2015-06-20 21:27] mjpost commented on #204
Okay, this seems pretty appealing. I have a licensing question, though. Joshua contains an LGPL'd library for handling language models ([KenLM](https://github.com/kpu/kenlm)). There is an alternative (BerkeleyLM), but it is not actively maintained any more and is not quite as good as KenLM in a few key respects. A quick glance at the incubator page suggests that this dependency would keep the proj

[2015-06-20 21:52] callison-burch commented on #204
We could also ask Kenneth if he would consider offering it with an Apache license.

[2015-06-20 23:09] lewismc commented on #204
@Chris, this is a very important suggestion.
An initial path which I've pursued is to ask the entire Apache incubator
community for an alternative to the library Joshua currently consumes [0].
Licensing over time can and does become an issue as you guys know [1].
I would like to mention that although the library is an issue, this is not
a blocker at all for building stronger community around Joshu

[2015-06-20 23:33] mjpost commented on #204
Any thoughts on this, @kpu?

[2015-06-20 23:55] chrismattmann commented on #204
Hey Guys yeah it's not a total blocker. We've dealt with similar issues e.g., with Apache OpenOffice which had a strict dependency on LGPL dictionaries and so forth and the Apache legal committee granted an exception (not broad, but in that particular situation). We could ask for a similar exception during Incubation and get it sorted out. If @kpu is willing to relicense, of course that would be a

[2015-06-20 23:56] lewismc commented on #204
ACK

On Sat, Jun 20, 2015 at 7:55 PM, Chris Mattmann <notifications@github.com>
wrote:

--
*Lewis*

[2015-06-21 00:14] chrismattmann commented on #206
thanks this is done.

[2015-06-21 00:14] #206 closed

[2015-06-21 00:15] mjpost commented on #204
KenLM actually contains several components that are important to the Joshua tool chain. We use it for building language models during training (via the `lmplz` binary, which itself has a boost dependency), the `build_binary` component to compile the resulting [ARPA-formatted](http://www.speech.sri.com/projects/srilm/manpages/ngram-format.5.html) text file to a packed trie, and then a library (`$JO

[2015-06-21 00:21] chrismattmann commented on #204
Thanks @mjpost that helps to answer it. Because it's a runtime dependency we can likely get an exception to this and deal with it via intelligent packaging and so forth. This isn't a blocker at all.

[2015-06-21 00:22] kpu commented on #204
For purposes of Joshua, it's standalone executables that could just be documented with a pointer, a shared library via JNI, and a bit of Java-side wrapper code.  The Java code can just be considered part of Joshua.

The question is whether it's up to me to relicense.  I do not have contributor license agreements in place.  There are several contributors with varying employers who may or may not ha

[2015-06-21 00:28] mjpost commented on #204
The Moses dependency is a good point — we have occasionally borrowed scripts and other miscellaneous tools, and currently rely on Moses for a portion of the phrase-based model building. However, removing that piece entirely wouldn't be too much work.

There are other important tools, however, such as word aligners ([GIZA++](http://www.statmt.org/moses/giza/GIZA++.html) and the [Berkeley aligner](h

[2015-06-21 00:35] chrismattmann commented on #204
yep @mjpost - leaving things to the user to install and not packaging directly with Joshua but making intelligent packaging tools is a common practice in a lot of these situations and we could employ them here.  @kpu thanks for the quick reply. If you are able to relicense, something on the permissive end ALv2, BSD and/or MIT would be much appreciated. see: http://www.apache.org/legal/resolved.htm

[2015-06-21 00:55] lewismc commented on #204
ACK

On Sat, Jun 20, 2015 at 8:35 PM, Chris Mattmann <notifications@github.com>
wrote:

--
*Lewis*

[2015-06-21 04:33] kpu commented on #204
Moving the JNI code over to kenlm (and preferably cleaning it up so it's generically useful, not just for Joshua) would solve most of this.
The following places _might_ have to agree to a license change: CMU, Edinburgh, Adam Mickiewicz University, Stanford, Bloomberg, NAIST, UIUC, Yandex, and SDL.

[2015-06-21 15:57] chrismattmann commented on #204
Thanks @kpu - not a blocker at all and this can be dealt with during incubation. @mjpost let me know what you think about moving forward - maybe we can wait a few days get some more feedback and proceed or not

[2015-06-23 02:27] mjpost commented on #204
I'm considering it positively. Can it wait till early August (i.e., six weeks)? I am involved with a summer workshop which is consuming most of my time at the moment (including keeping me from reading thoroughly through your docs).

I suppose this move would also involve changing hosting? Does Apache support git? Skimming, I only saw notes about using SVN....

(I can likely answer these questions

[2015-06-23 13:47] chrismattmann commented on #204
hey @mjpost thanks. Sure we can revisit in early August, that's totally fine, no rush. Apache does support Git, and it even has writeable git repositories, and mirrors out to Github. So joshua would move to Apache writeable Git at something like https://git-wip-us.apache.org/repos/asf/joshua.git (for a working link, see: https://git-wip-us.apache.org/repos/asf/tajo.git ) and then could be mirrored

[2015-06-26 03:41] mjpost commented on #204
Okay, great, I've made a note to come back to this then.

[2015-07-01 03:43] lewismc commented on #204
Sounds good @mjpost

[2015-07-01 15:45] chrismattmann commented on #204
Should this be left open its not really closed yet? @mjpost

[2015-07-01 18:54] lewismc commented on #204
Chris, the thread on general@ started off well then diverged at an
incredible rate.
That being said, up until just after your reply provides us with valuable
commentary fro general@ community to progress with the dependnency issues.
I'll make an effort to set the options out below (it will not be an
exhaustive list... There is more than one way to skin a cat)

On Wednesday, July 1, 2015, Matt Post

[2015-07-03 23:24] mjpost commented on #152
Hi,

I believe I fixed this in commit 9c4a64744cc9c1fcb4b999a27e4aeaf9a3d2f38c, which will soon be pushed to master.

Sorry for the delay :)

matt

[2015-07-03 23:24] #152 closed

[2015-08-20 03:28] chrismattmann commented on #204
hi @mjpost ready to pick this back up?

[2015-08-27 15:03] mjpost opened #210 "Fix nonterminalmatcher logic"
It's slow and overly general, and in particular, Vocabulary::getNonterminalIndices() may not be thread safe.

[2015-08-27 15:36] fhieber opened #211 "Bug in params.txt reading in PRO"
There seems to be a bug in reading parameter specification in params.txt when running PRO:
Exception in thread "main" java.lang.NumberFormatException: For input string: "tm_pt_1"
	at sun.misc.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2043)
	at sun.misc.FloatingDecimal.parseDouble(FloatingDecimal.java:110)
	at java.lang.Double.parseDouble(Double.java:538)
	at joshua.pro.PROCore.proc

[2015-08-27 15:37] mjpost commented on #211
Are you using the development version of Joshua, or the 6.0.4 point release?

[2015-08-27 15:47] fhieber commented on #211
most recent commit (1886c08dd7cc480344796cd214f521eb5ecf7b24)

[2015-08-27 15:54] #211 closed

[2015-08-27 15:54] mjpost commented on #211
Thanks!

[2015-09-24 17:44] mjpost opened #212 "Speed issue with string construction"
Features contribute their values using string lookups. This occurs for every edge that is created and for every feature. It would be much faster to define a vocabulary for feature IDs, and have features that are able to pre-register the set of features they will contribute. This would likely result in a large speedup.

[2015-09-26 22:01] lewismc commented on #195
Took me way to long but this is now nearly off of my TODO list.
https://github.com/Homebrew/homebrew/pull/44371
Sorry about the wait folks. The formula will work with a number of options namely;
[code]
The package is called joshua-v due to the published artifact being called joshua-v${release.number}.tar.gz. This is outwith my control.

[2015-09-29 19:48] mjpost commented on #195
This looks great, though too bad about the name.

How hard is this to update when new versions of Joshua come out? 6.0.5 will be out soon with a number of speed improvements and bug fixes.

[2015-09-29 20:24] lewismc commented on #195
Hi Matt,
If you can change the .tar.gz to 6.0.5.tar.gz instead of v6.0.5.
If you can do this then it will be automatic as I'll update the formula to
resolve to the new correct tar.gz file.
I'll update here once the Formula has been merged.
Thanks

On Tue, Sep 29, 2015 at 2:48 PM, Matt Post <notifications@github.com> wrote:

--
*Lewis*

[2015-10-01 06:04] lewismc opened #215 "Fix deprecation in Hadoop 2.5.2 API usage"
Right now when I build Joshua I get the following
[code]
This is all post upgrade to Hadoop 2.5.2, we should fix this.

[2015-10-01 06:57] lewismc opened #217 "Quickstart not working/outdated"
Hi @mjpost,
When running the following code within the [Quickstart](http://joshua-decoder.org/6.0/quick-start.html), as follows
[code]
I get the following result
[code]
Therefore I add the --type hiero as follows
[code]
However I then get the following
[code]
Notice the
[code]
Do you have any idea what is wrong here?

[2015-10-01 07:48] lewismc commented on #195
New PR here
https://github.com/Homebrew/homebrew/pull/44490
A number of issues were logged and discovered whilst building the brew formula so hopefully we can iron some of them out.

[2015-10-01 13:58] mjpost commented on #215
What version of Java are you using?

[2015-10-01 14:01] mjpost commented on #217
I fixed the `--type hiero` flag (that is only recently required, used to default to Hiero).

Are you on a Mac? You have to install sha1sum. This could be updated to either include it or use a Perl module that computes sha1sums directly. I didn't use the Perl module before because it used to slurp the whole file into memory, which is a real problem for multi-gig files.

[2015-10-01 22:32] lewismc commented on #195
Hi @mjpost can you please stage https://github.com/joshua-decoder/indian-parallel-corpora/tarball/master as a static indian-languages.tgz artifact somewhere?
When I download it from Github within the homebrew formula it unpacks to a different directory every time. The brew recipe requires static files with a consistent sha256. Right now this is impossible for me to do unless the artifact is staged

[2015-10-01 23:02] lewismc commented on #217
Yeah I am

Yeah I understand. This is not available on MacOSX therefore the build breaks. Is there some other tool we could use?

[2015-10-02 17:25] mjpost commented on #217
Can you just install it? md5sha1sum package under macports.

The other option is to edit scripts/training/cachepipe/CachePipe.pm to use a native Perl module.

[2015-10-02 17:28] mjpost commented on #195
I just created an official release. You can [download using this link](https://github.com/joshua-decoder/indian-parallel-corpora/archive/1.0.tar.gz). I will update the quick start instructions.

[2015-10-02 21:34] lewismc commented on #195
Grand. Nearly ready for iteration 4. Will be posting in around 10 minutes for the PR.

[2015-10-02 21:45] lewismc opened #218 "Train and testing quickstart Indian model fails in interactive shell"
I am unable to follow the quickstart when attempting to verify that Joshua is installed and operating correctly from within the brew Formula.
Logging output below details the commands and output I am getting.
Note that this is after a successful ant build with all dependencies installed.
[code]

[2015-10-03 01:50] mjpost commented on #218
It looks like a problem with your Hadoop cluster. is $HADOOP set? If so, it should point to your Hadoop installation. If not, Joshua will roll out its own for you.

[2015-10-03 03:10] lewismc commented on #215
@mjpost
[code]

[2015-10-03 03:16] lewismc commented on #215
This is not an issue it seems to have been the result of previous versions of Hadoop being present on the classpath.

[2015-10-03 03:16] #215 closed

[2015-10-03 03:18] lewismc commented on #217
It is now part of the Formula so some of the errors have vanished.

No I think it is OK for now. I made the Formula depend upon the md5sha1sum package. Thanks for updating the quickstart this issue is now resolved.

[2015-10-03 03:18] #217 closed

[2015-10-03 03:20] lewismc commented on #153
You can just install md5sha1sum on MacOSX this is not a problem as per #217

[2015-10-03 03:26] mjpost commented on #153
I'll close it. @bethard, if the proposed solutions don't work for you, feel free to reopen.

[2015-10-03 03:26] #153 closed

[2015-10-05 05:16] lewismc commented on #218
I am assuming that the user does not have a cluster of Hadoop machines.

No, I am assuming that the brew Formula should work regardless of whether we have a $HADOOP env set.

It appears Joshua is not doing this. I'm working on this right now.

[2015-10-05 05:34] lewismc opened #221 "ArrayIndexOutOfBoundsException when passing arguments to JoshuaDecoder.main"
[code]

[2015-10-05 06:38] lewismc commented on #195
PR updated on and will hopefully be merged this time.
https://github.com/Homebrew/homebrew/pull/44490
Fingers crossed.

[2015-10-05 11:45] mjpost commented on #195
Hi Lewis — Sorry, just buried under other stuff. I hope to get to this today.

- matt

[2015-10-05 14:11] lewismc commented on #195
No problems I'll update once the PR has been merged over at Homebrew.
Thanks

On Monday, October 5, 2015, Matt Post <notifications@github.com> wrote:

--
*Lewis*

[2015-10-09 19:44] mjpost opened #224 "Java 8 breaks test cases"
The regression test cases ("ant -f $JOSHUA/build.xml test") should pass. Currently Java 8 seems to break them. In particular, the k-best extraction test hangs indefinitely:

    cd $JOSHUA/test/decoder/k-best-extraction
    ./test.sh

(hangs forever, or at least for minutes and minutes, at 100% CPU).

This works perfectly when doing a simple recompile with Java 7.

[2015-10-09 19:53] mjpost commented on #224
One update: limiting the n-best output helps in some cases:

    cd $JOSHUA/test/decoder/k-best-extraction
    cat input.txt | $JOSHUA/bin/joshua-decoder -c joshua.config -top-n 100

exits pretty quickly. It looks like Java 8 has introduced some sort of exponential increase on k-best extraction.

    for num in 100 200 300 400 500 600 700 800 900 1000; do
        cat input.txt | $JOSHUA/bin/joshua

[2015-10-09 19:59] jganitkevitch commented on #224
To me this looks like Java 7 was implicitly clearing some buffer which now
retains its contents. So we end up processing and ever-growing batch of
elements. Could that be the case somewhere?

On Fri, Oct 9, 2015 at 3:53 PM Matt Post <notifications@github.com> wrote:

[2015-10-09 20:13] mjpost commented on #224
Nothing comes to mind. The other strange thing is that all the outputs come at once, even though we call out.flush() after each k-best item. This suggest all the work is being done in the KBestExtractor() constructor, but nothing happens there.

The k-best code is called in joshua.decoder.Translation.java (constructor).

[2015-10-09 22:25] fhieber commented on #224
Very interesting data point. We have used Joshua extensively under java 8 with no obvious problems but have also observed very slow nbest decoding during tuning (nbest extraction times comparable or more of what you report here).
Furthermore, we have never used the existing test suite since these have failed, confirming your issue here.

I will take a look at it asap.

[2015-10-11 23:55] sidhantsetia opened #225 "Problem building kenlm"
@chrismattmann
I've been trying to build Joshua Decoder but kenlm is giving errors while building. I'm trying to build on ubuntu 14.04 from the Master Branch.

This is the log that I get:
kenlm:
     kenlm:
     [exec] -- The C compiler identification is GNU 4.9.1
     [exec] -- The CXX compiler identification is GNU 4.9.1
     [exec] -- Check for working C compiler: /usr/bin/cc
     [exec] -- Che

[2015-10-12 00:20] mjpost commented on #225
I was getting this same error for a while, but then it went away with the recent update to cmake.

Two suggestions:

1. When was the last time you did a "git pull"? There were some recent updates that fixed this for me (on OS X), so make sure you have those

2. If the problem persists, try [cloning KenLM directly](github.com:kpu/kenlm), and compiling it the same way (see [this comment](https://git

[2015-10-14 02:41] sidhantsetia commented on #225
I tried compiling KenLM separately and it worked without any problems. The build was 100%.
After this do I again need to build Joshua or can I directly go and use Joshua?

[2015-10-14 03:08] mjpost commented on #225
You should run "ant java" to compile the Joshua code, and should then be good to go.

[2015-10-14 07:06] sidhantsetia commented on #225
Thanks a lot for the help Matt.

[2015-10-14 14:22] #225 closed

[2015-10-16 10:26] sidhantsetia opened #226 "Train and testing quickstart Indian model fails"
I successfully built Joshua but I'm unable to train the quick start Indian model. The file build_binary is not present. The error message is added below.
After the build /joshua/src/joshua/decoder/ff/lm/kenlm this folder is not present.

$JOSHUA/bin/pipeline.pl --source bn --target en \

[source-numlines] rebuilding...
  dep=/home/ssetia/models/bn-en/indian-parallel-corpora-1.0/bn-en/tok/training.

[2015-10-16 12:16] mjpost commented on #226
KenLM didn't build. Type "ant kenlm".

What version of Joshua are you using? Development or the 6.0.4 release?

[2015-10-16 14:58] mjpost commented on #210
Closed with commit 2b2e99b56c56a43dec8749ff3f47f43fcd9ff34f.

[2015-10-16 14:58] #210 closed

[2015-10-16 15:10] mjpost commented on #221
Hmm. I suspect this is because, although we build the jar, we don't use it at all. Why are you trying to use the jar, instead of, e.g., $JOSHUA/bin/joshua-decoder?

[2015-10-16 15:11] mjpost commented on #212
This is addressed with commit 64f4043cf6fc5985ec3c0b20fcd23f3541b32eb1, which adds proper dense features. It didn't result in much of a performance increase, but the code is a bit cleaner now, since the features themselves know which dense and which sparse features they contribute.

[2015-10-16 15:11] #212 closed

[2015-10-16 15:12] mjpost commented on #185
Are there any updates on this, @fhieber? Trying to close things down for the 6.0.5 release.

[2015-10-17 01:31] sidhantsetia commented on #226
I'm using the development branch as the 6.0.4 was giving build failure because of boost.
I ran  ant kenlm and this is the error I am getting

ant kenlm
Buildfile: /home/ssetia/dr/joshua/build.xml

check-joshua-home:
     [echo] JOSHUA = /home/ssetia/dr/joshua basedir = /home/ssetia/dr/joshua

kenlm:
     [exec] -- Boost version: 1.59.0
     [exec] -- Found the following Boost libraries:
     [exec

[2015-10-17 09:14] fhieber commented on #185
No updates from my side. Can be closed.

[2015-10-17 16:47] mjpost commented on #185
Assuming this is fixed, though, right?

[2015-10-17 17:40] mjpost commented on #226
Hmm. I'm not sure, since this compiles on both OS X and CentOS 6.7 for me.

One suggestion: edit `$JOSHUA/jni/build_kenlm.sh`, and try removing the "-fPIC" line. You could also try to add the CXXFLAGS to the cmake invocation.

Make sure to run "ant clean-kenlm" before "ant kenlm", and please report back here how things go!

[2015-10-18 07:00] fhieber commented on #185
Not sure if the code changed in this regard but I did not come across the problem again.

[2015-10-18 13:02] #185 closed

[2015-10-19 15:10] KellenSunderland commented on #224
Hello, Felix and I took a look a the code today and did some profiling to see if we could isolate any obvious problems.  So fare it's been with fairly limited success.

The first thing we notice when profiling is that the hottest method is ''joshua.decoder.hypergraph.KBestExtractor$HypothesisExtractor.before()".  Within this, regex matching, but if you let the process run for a while and do some f

[2015-10-19 15:32] mjpost commented on #224
Nothing comes to mind, unfortunately. I can take a look myself, but not until early November.

In the meantime, do you want to downgrade [your pull request](https://github.com/joshua-decoder/joshua/pull/214) to Java 7? If you can do that, I'll include it in the 6.0.5 release, which I plan to pull together in the next few days.

[2015-10-19 15:33] mjpost commented on #224
(Also, I wonder if this is the kind of thing the Java folks should know about. It seems like a pretty serious bug that a straight recompile results in an exponential blowup of code runtime).

[2015-10-20 06:37] fhieber commented on #224
maybe some internal changes in the regex engine from java 7 to java 8? Is there a specific reason why the HypothesisExtractor is working on a String level instead of merging int[] arrays when combining rules/derivations?

[2015-10-20 12:52] mjpost commented on #224
Yes, it seems like this could be replaced to use arrays instead of strings and be much more efficient. It might get expensive to schlep all those arrays around, but it can't be worse than the current regex approach, and I agree that the implementation could be improved a lot.

I wonder if Java 7 precompiled the regex in the background once and then cached it, and maybe Java 8 is not doing that? Th

[2015-10-21 16:01] lewismc commented on #221
I was inside of Eclipse

[2015-10-21 16:02] lewismc commented on #221
Was trying to debug something inside of Eclipse on this occasion.

[2015-10-21 16:35] joel-coffman opened #229 "Joshua v6.0.4 tarball includes Mach object files"
The [Joshua v6.0.4 tarball](http://cs.jhu.edu/~post/files/joshua-v6.0.4.tgz]) includes Mach object files in `src/joshua/decoder/ff/lm/kenlm/lm`. These files cause the linker to fail when building on non-OS X platforms (e.g., Linux) with the following error message:
[code]
The error is resolved by invoking
[code]
before the build.

[2015-10-21 18:30] KellenSunderland commented on #224
I'm cautiously optimistic that I know what's going on here.  We might have a patch for you tomorrow to resolve this.  Looks like an issue with Java 8's HashMap switching to an underlying red / black tree after a certain number of items per bucket.

[2015-10-21 19:48] mjpost commented on #229
Thanks. This is fixed in the impending 6.0.5 release (which also reorganizes and improves the KenLM build process).

[2015-10-21 19:48] #229 closed

[2015-10-21 19:52] mjpost commented on #221
All right. I haven't used this at all, so I'm not sure what the problem is. In general, I don't use the jar, because it slows down debugging (you have to rebuild the jar after every change)

[2015-10-22 09:32] sidhantsetia commented on #226
I tried to build again by removing the "-fPIC" line. But I'm still getting an error.

 [exec] read_compressed.cc:(.text+0xb7f): undefined reference to `inflate'
     [exec] collect2: error: ld returned 1 exit status
     [exec] make[2]: *** [bin/bit_packing_test] Error 1
     [exec] make[1]: *** [util/CMakeFiles/bit_packing_test.dir/all] Error 2
     [exec] make: *** [all] Error 2
     [exec] cp:

[2015-10-24 06:52] sidhantsetia commented on #226
Hi @mjpost

I was able to build kenlm by adding the CXXFLAGS to cmake invocation. I build joshua after that using ant java. It gave a build success.

However, when I try to train and test the Indian model it still gives the same error as above.

[2015-10-24 17:15] mjpost commented on #226
Oh, the path is wrong. build_binary is in $JOSHUA/bin, not in $JOSHUA/src/joshua/decoder/ff/lm/kenlm. I just pushed up a fix, so if you're using the development version, "git pull" should fix it. Otherwise, you can fix the path manually in $JOSHUA/bin/pipeline.pl.

Can you tell me the exact changes you made to $JOSHUA/jni/build_kenlm.sh, so that I can see if they should be added to Joshua?

[2015-10-31 05:58] sidhantsetia commented on #226
@mjpost

I did not make any changes to $JOSHUA/jni/build_kenlm.sh. I declared an environment variable for CXX flags.
I also made a change to , where I added $JOSHUA/src/kenlm/CMakeLists.txt
set(CMAKE_CXX_FLAGS "-fPIC")

[2015-10-31 05:59] sidhantsetia commented on #226
After the new pull I'm getting build fail in giza.

Here are the logs that I am getting
giza:
     [exec] make: Entering directory '/home/ssetia/dr/joshua/src/giza-pp'In file included from /usr/include/c++/4.9/unordered_map:35:0,
     [exec] /home/ssetia/dr/joshua
     [exec]                  from mystl.h:22,
     [exec]
     [exec] make -C GIZA++-v2
     [exec]                  from myassert.cpp:

[2015-10-31 11:30] mjpost commented on #226
Thanks. What did you set the environment variable $CXX to?

[2015-10-31 17:31] mjpost commented on #226
I recommend just compiling it by yourself, and then putting the binaries in $JOSHUA/bin (GIZA++, snt2cooc.out, mkcls). I'm probably going to remove GIZA++ from Joshua because it's too much of a pain to keep C++ programs compiling.

[2015-11-03 15:34] mjpost commented on #226
This has been fixed in the latest push.

[2015-11-05 10:12] sidhantsetia commented on #226
Hi @mjpost

GIZA++ builds successfully now.
Now I'm getting a different error when I try to train the Indian model.

[kenlm] rebuilding...
  dep=/home/ssetia/models/bn-en/indian-parallel-corpora-1.0/bn-en/tok/training.bn-en.en.uniq [CHANGED]
  dep=lm.gz [NOT FOUND]
  cmd=/home/ssetia/dr/joshua/bin/lmplz -o 5 -T /tmp -S 2G --verbose_header --text /home/ssetia/models/bn-en/indian-parallel-corpora-1.

[2015-11-05 11:34] mjpost commented on #226
When you built KenLM, you must have removed the following flags, which are needed to compile in gzip support (these are taken from jni/build_kenlm.sh):

    export CXXFLAGS+=" -O3 -fPIC -DHAVE_ZLIB"
    export LDFLAGS+=" -lz"

[2015-11-05 12:28] sidhantsetia commented on #226
These flags are still present in jni/build_kenlm.sh. I had included an environment variable CMAKE_CXX_FLAGS="-fPIC". If I change the value of this variable kenlm does not build and throws an error.

[2015-11-05 12:36] mjpost commented on #226
Somehow your programs didn't compile against libz. I suggest wiping out bin/{build_binary,lmplz,query} and src/kenlm/build, and rebuilding. Make sure you have the development versions of the libz libraries installed. This should be standard.

[2015-11-05 13:28] sidhantsetia commented on #226
I did all of the above but I'm still getting the same error. I also removed the environment variable CMAKE_CXX_FLAGS.
The only change I have from the latest source code is that I have added set(CMAKE_CXX_FLAGS "-fPIC") to the file  $JOSHUA/src/kenlm/CMakeLists.txt. If I remove this line then I'm unable to build kenlm.

[2015-11-05 14:59] mjpost commented on #226
I'm sorry, I can't help. I suggest you try to compile the code directly from [KenLM](github.com/kpu/kenlm), then try to run `build_binary` manually. If that doesn't work, you'll know it's a problem on your system.

[2015-11-06 08:04] lewismc opened #233 "Berkeleyaligner to print progress to terminal"
Right now when testing Joshua from within the Homebrew recipe, a lot of time is being spent on word alignment(???), I think that it would be more helpful if we could see some activity whilst waiting e.g. a progress bar.
[code]
The final line above is the one taking a good while!

[2015-11-06 13:42] mjpost commented on #233
You can see the output progress for the Berkeley aligner in alignments/NUM/log, where NUM is the alignment shard (default size 1,000,000 sentences).

[2015-11-06 20:54] lewismc opened #234 "Unbound variable in joshua-decoder script"
This was reported by the Homebrew Jenkins CI build server
[code]

[2015-11-06 21:02] mjpost commented on #234
`$JOSHUA/bin/joshua-decoder` requires that `$JOSHUA` be defined. I will push up a change that instead sets this from within the script based on the path of the called file.

[2015-11-06 21:02] lewismc commented on #234
That would be nice. Please feel free to rename this issue @mjpost

[2015-11-06 21:24] mjpost commented on #234
Should be fixed now, in the dist. tarballs as well.

[2015-11-07 02:42] lewismc commented on #234
@mjpost

Do you mean that this is present in the new Joshua 6.0.5? Did you respin the release?

[2015-11-07 21:34] mjpost commented on #234
Yes, this is now fixed in the downloadable tarballs.

matt (from my phone)

[2015-12-29 22:47] lewismc commented on #195
OK this issue has been addressed and Joshua is available in Homebrew :)
You can check out the options as follows
[code]

[2015-12-29 22:47] #195 closed

[2015-12-29 22:48] lewismc commented on #195
@mjpost can we update the Homebrew formula within the release procedure? It would be nice to have it up-to-date.

[2016-01-04 14:16] mjpost commented on #195
Yes, of course. What needs to be done?

[2016-01-04 16:11] lewismc commented on #195
So if you look at the [Joshua recipe](https://github.com/Homebrew/homebrew/blob/b853e4a9463fb775e76301222598375c35a01aef/Library/Formula/joshua.rb) all you need to do is
1.  update the [link to the Joshua release artifact](https://github.com/Homebrew/homebrew/blob/b853e4a9463fb775e76301222598375c35a01aef/Library/Formula/joshua.rb#L4)
2. update the [SHA256 signature](https://github.com/Homebrew/hom

[2016-01-04 17:19] mjpost commented on #195
Update it to what? It looks up-to-date to me.

[2016-01-05 11:48] lewismc commented on #195
Sorry, I meant that when a new release is made then both of the above can be updated to the new release artifact. Is there a release process somewhere that I can see? If not then maybe now is a good time to make one and I can add the Homebrew portion. wdyt?

[2016-01-08 20:16] mjpost commented on #195
There is no release document, but there should be. I've added [a TODO item](https://github.com/joshua-decoder/joshua-decoder.github.com/issues/4).

[2016-01-11 20:45] lewismc opened #238 "pipeline.pl should print help"
It would be very handy if pipeline.pl prints all command line options if invoked without parameters or with --help.
This issue will address that.

[2016-01-11 21:06] mjpost commented on #238
Agreed. There isn't an easy way to do this under the current setup, because of the way the pipeline handles arguments (barebones home-brewed).

This is tied to a more complex issue, which is that the pipeline needs to be rewritten entirely, more in the spirit of Moses' EMS.

[2016-01-11 21:31] lewismc commented on #238
... bugger.
I had a look at [Pod::Usage](http://perldoc.perl.org/Pod/Usage.html) which seems like it would do the trick.
pipeline.pl is pretty meaty... I am not sure that I want to embark on a rewrite based on the fact that I don't know the code too well (and the fact that it's in pl).
What's your thoughts here @mjpost ?

[2016-01-11 22:14] mjpost commented on #238
Pipeline started out as a small Perl script and, as they tend to do, grew. Beside being a huge Perl script (itself a big problem), it has a number of other issues. It would be good to start with a graph-based approach to the needs of the MT pipeline, start at the end, and work backwards. This is the way tools like Make or Moses' EMS work. Pipeline starts at the beginning each time, and tries to be

[2016-01-12 21:59] lewismc commented on #238
@mjpost I understand, this sounds like a significant undertaking.
It looks like simply printing a help message for pipeline.pl is not even a trivial undertaking.
Are you referring to this [EMS](http://www.statmt.org/moses/?n=FactoredTraining.EMS)?

[2016-01-13 02:43] mjpost commented on #238
Yep.

[2016-01-19 16:55] chrismattmann opened #239 "Dependency addition to Joshua-Decoder/Joshua/pom.xml"
<dependency>     <groupId>args4j</groupId>     <artifactId>args4j</artifactId>     <version>2.32</version>    </dependency>
Joshua-Decoder/Joshua committer please add this dependency to pom.xml
thank you/
Martin

[2016-01-19 16:55] chrismattmann commented on #239
from the Apache Incubator general@ discussion.

[2016-02-12 19:57] lewismc commented on #239
@mjpost Joshua still builds with Ant right? Is there a specific requirement for the Maven pom.xml?

[2016-02-12 20:02] mjpost commented on #239
Yep, it's ant-based. It's in the Ivy dependency file, `lib/ivy.xml`.

[2016-02-12 20:48] lewismc commented on #239
Ack
So you want me to file a ticket to remove he Maven material?

On Friday, February 12, 2016, Matt Post <notifications@github.com> wrote:

--
*Lewis*

[2016-02-12 21:08] mjpost commented on #239
I don't think we need to remove it. Doesn't Maven replace Ivy? We could transition at some point.

[2016-02-12 21:31] lewismc commented on #239
Oh, so you want to move away from Ant + Ivy to Maven?
If you want I can work on that one?

On Fri, Feb 12, 2016 at 1:08 PM, Matt Post <notifications@github.com> wrote:

--
*Lewis*

[2016-02-13 00:58] lewismc commented on #204
@chrismattmann close this off ;)

[2016-02-13 03:03] mjpost commented on #239
I wouldn't say I want to, but am definitely willing if someone wants to make the case for straight Maven over ant + ivy. In general, I prefer stability in build tools and am wary of jumping from ship to ship, but if there's a good case for it, I'd happily hear it. I've had some pressure to do so from another source, so maybe it'd be good to consider.

[2016-02-13 03:04] lewismc commented on #239
I'll do it just now.

On Fri, Feb 12, 2016 at 7:03 PM, Matt Post <notifications@github.com> wrote:

--
*Lewis*

[2016-02-14 02:41] chrismattmann commented on #204
yep we can close this Joshua is now an Apache Incubator podling! :)
https://issues.apache.org/jira/browse/INFRA-11264

[2016-02-14 02:41] #204 closed

[2016-02-14 02:42] lewismc commented on #204
Dynamite

On Saturday, February 13, 2016, Chris Mattmann <notifications@github.com>
wrote:

--
*Lewis*

[2016-02-19 01:15] lewismc opened #241 "Change berkeleylm Git config from git@ to https"
When attempting to use Joshua (master) on a remote host, I noticed that the ant build would fail. This was due to the [Git submodule permission denied error](http://support.thoughtworks.com/entries/70717410-How-to-troubleshoot-Git-submodule-permission-denied-error-).
I saw that both .gitmodules and ./.git/config reference the [Berkeley Language Model release 1.0](https://github.com/joshua-decoder/

[2016-02-19 22:06] lewismc opened #243 "Build Joshua with Intel compiler if the GNU compiler is not available"
This issue relates to a build issue I was having whilst working on both AWS and Wrangler systems.
The mailing list thread for the context can be found at https://groups.google.com/d/msg/joshua_developers/_dgSaoahLPY/4ucZy_usAAAJ

[2016-02-19 22:15] lewismc commented on #243
This is strange, AFAICT the -std=c++11 flag should work just fine!
This is per Intel documentation - https://software.intel.com/en-us/articles/iso-iec-standards-language-conformance-for-intel-c-compiler

[2016-02-19 22:30] lewismc commented on #243
If I change the flag to "-std=c++0x" I am able to build fine. I am trying to find a replacement for the latter error e.g. -std=g++11

[2016-02-19 22:46] lewismc commented on #243
The -std=g++11 flag does not seem to be playing well here.
It is present within the [jni/build_kenlm.sh](https://github.com/joshua-decoder/joshua/blob/0000d33bdf29b118288a21c75ec8c97fd7014d25/jni/build_kenlm.sh) file. I've tried changing it to -std=g++0x and -std=c++0x with the following results
[code]

[2016-02-19 22:46] lewismc commented on #243
I'm stumped now. Any ideas folks?

[2016-02-19 23:28] KellenSunderland commented on #243
Strange that changing the c++11 flags would cause the compiler to not find the jni.h file. If it's truly an issue with those flags I can try and reproduce your problem.

As a sanity check, can you check the include path and make sure it references the java jdk folder that includes that jni header file?  It should be somewhere like $(JAVA_HOME)\include.

[2016-02-19 23:41] mjpost commented on #243
This compiles fine for me on the systems I have access to (OS X 10.11, CentOS 6.7, Debian 7.7). You might consider filing an issue [on the kenlm project](https://github.com/kpu/kenlm/issues).

Every year or so the C++ builds (GIZA++, kenlm, etc) break and I have to fiddle with parameters until they compile again.

[2016-02-19 23:42] lewismc commented on #243
Thanks folks
bq. Edit: I see the script does indeed include $(JAVA_HOME)\include. Maybe just double check that jni.h is in that folder on the machine you're build with?

It is not there no, why would it not be there I wonder?

[2016-02-19 23:49] lewismc commented on #243
The absence of jni.h seems to be the issue. I am working directly off of master branch. Do you guys get jni.h when you build locally?

[2016-02-19 23:54] KellenSunderland commented on #243
I think some Java packages may not include it while others do.  If you install the jdk straight from oracle, for example it should be included.  If I remember correctly openjdk did not include it.

[2016-02-19 23:55] lewismc commented on #243
OK, thats the issue then. The machine I am on is /usr/lib/jvm/jre-1.7.0-openjdk.x86_64

[2016-02-19 23:59] lewismc commented on #243
I am running on java-1.8.0 and it is all good. This issue is now here for reference. Thank you both for your help I appreciate it.

[2016-02-19 23:59] #243 closed

[2016-02-20 00:45] #241 closed

[2016-02-25 00:34] lewismc commented on #239
This issue can be closed for the time being. it is not required as Maven is not the primary build system.

[2016-02-25 00:37] lewismc opened #244 "Perl scripts renaming has not been updated in subsequent scripts"
A very recent commit cf. https://github.com/joshua-decoder/joshua/commit/a61f290d27b3b9d12338040a07d9da834c36d017 renamed a number of files e.g.
[code]
It looks like not all scripts were updated with these changes meaning that invocation of pipelines fails very early on. This is easy fixed and I will submit a PR in 2 minutes.

[2016-02-25 00:50] mjpost commented on #244
I think I fixed this already, may have forgotten to push, will check in 30

matt (from hand computer)

[2016-02-25 00:53] lewismc commented on #244
I am getting the following when running
/bin/bash: /work/03702/tg830018/wrangler/joshua/scripts/lowercase.pl: No
such file or directory
Thanks Matt I am also having a look at it.

On Wed, Feb 24, 2016 at 4:50 PM, Matt Post <notifications@github.com> wrote:

--
*Lewis*

[2016-02-25 01:20] lewismc commented on #244
PR sent to https://github.com/joshua-decoder/joshua/pull/245
This is working sweet as a nut.
Thanks

On Wed, Feb 24, 2016 at 4:53 PM, Lewis John Mcgibbney <
lewis.mcgibbney@gmail.com> wrote:

--
*Lewis*

[2016-02-25 02:57] lewismc commented on #244
There is one last big here, please see the following
https://github.com/joshua-decoder/joshua/search?utf8=%E2%9C%93&q=normalize-punctuation.pl
There is mention of the file normalize-punctuation.pl but this file does not exist.

[2016-02-25 03:26] mjpost commented on #244
Fixed with commit e6091aa836e613030540350415f11059048d0122.

[2016-02-25 03:26] #244 closed

[2016-02-25 03:27] lewismc commented on #244
Fantastic thanks @mjpost

[2016-02-25 16:23] mjpost commented on #224
Fixed with commit b2b9477b76e261927703bdd616d9d69f4a0d53f0

[2016-02-25 16:23] #224 closed

[2016-02-26 16:23] mjpost opened #246 "Feature request: Incorporate k-best MBR"
MBR currently operates on the n-best decoder output. This should also be available in the decoder itself, and triggered with a `-mbr` flag.

[2016-02-26 16:25] mjpost opened #247 "Feature request: confidence scores"
There is a lot of work on sentence-level and word-level quality estimation for MT. It's pretty hard to do, but it should be possible to provide coarse-level confidence scores at the word level, perhaps normalized by the overall translation score.

[2016-03-10 15:14] mjpost opened #248 "Constrained decoding fix"
Constrained decoding works by ensuring that LM state tuples match against the specified target side. This fails when using KenLM, since it maintains its own private state and doesn't expose the n-gram boundary words to the decoder (instead using the generic DP state mechanism). This could be fixed by always creating a dummy LM feature whenever constrained decoding is requested, which will do the s

[2016-03-29 03:44] mjpost commented on #107
This is almost complete, but has not worked its way into KenLM and BerkeleyLM.

[2016-07-20 13:04] Arezoo1234 opened #250 "Skip from grammer extractor"
Hi Dear,
I am researcher in the field of natural language processing. Joshua-v5.0 was installed on Ubuntu 12. I want to align words in the parallel corpora and decode the test set with the word alignments. On the other hand, I want to skip from grammar extractor and phrase alignment in Joshua decoder.I would be grateful if you would say how can I do that?

[2016-11-30 12:35] tpetmanson opened #251 "Building with ant fails"
Hello everybody!

I have cloned the Github repo and I am following README.md file. I have installed JDK1.8, setup the environment variables and now try to build joshua with ant, which fails, complaining about missing Apache Commons and Doxygen dependencies.

As I have zero experience resolving Ant errors, I'd like to ask that what can I try to resolve this?
I am running Ubuntu 14.04 LTS.

[code]

[2016-11-30 12:58] tpetmanson commented on #251
I think I actually cloned the wrong repository -- instead of `joshua` I'll try `incubator-joshua` .. I noticed that the README there uses maven instead of ant, so I hope I am able to build it.
If it works, I'll close the ticket!

[2016-11-30 14:05] #251 closed, assigned to nobody